.menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.menu li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin: 0 -1px -1px 0;
  cursor: pointer;
}

.menu li.active {
  background: #eeeeff;
}

#footer {
  margin: 1em 0 2em;
}

#footer .logo {
  display: inline-block;
  width: 115px;
  margin-right: 20px;
  vertical-align: middle;
}

#footer .logo img {
  width: 115px;
}

#footer .copy {
  display: inline-block;
  width: 480px;
  vertical-align: middle;
  margin: 0;
}

.examples .editor {
  height: 250px;
}

.examples .preview iframe {
  height: 250px;
  width: 100%;
}

.ace_editor {
  width: 100%;
  position: relative !important;
}

.ace_scrollbar {
  display: none !important;
}
