* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  sizing: border-box;
}

.menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.menu li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 2px 10px;
  margin: 0 -1px -1px 0;
  cursor: pointer;
}

.menu li.active {
  background: #eeeeff;
}

#footer {
  margin: 1em 0 2em;
}

#footer .logo {
  display: inline-block;
  width: 115px;
  margin-right: 20px;
  vertical-align: middle;
}

#footer .logo img {
  width: 115px;
}

#footer .copy {
  display: inline-block;
  width: 480px;
  vertical-align: middle;
  margin: 0;
}

.examples {
  background: #f0f0f0;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  min-height: 250px;
}

.examples .controls {
  text-align: center;
  height: 30px;
  margin-top: 10px;
}

.examples .controls .btn {
  margin-right: 10px;
}

.examples .controls .dropdown-menu {
  text-align: left;
}

.examples .main {
  padding: 10px;
}

.examples .code, .examples .preview {
  position: relative;
}

.examples .editor {
  height: 250px;
}

.examples .error {
  position: absolute;
  top: 80px;
  left: 20px;
  right: 20px;
  color: #c00;
  font-weight: bold;
}

.examples .preview iframe {
  border: none;
  width: 100%;
}

.ace_editor {
  width: 100%;
  position: relative !important;
}

.ace_scrollbar {
  display: none !important;
}

ol.index {
  display: table;
  width: 100%;
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 1em;
  table-layout: fixed;
}

ol.index > li {
  list-style: none;
  display: table-cell;
  border-left: 1px solid #ccc;
  padding-left: 10px;
}

ol.index > li:first-child {
  border-left: none;
  padding-left: 0;
}

ol.index ol.items {
  margin-top: 1em;
}
