<!doctype html>

<html>
  <head>
    <title>Serenade.js</title>
    <link href="css/app.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>Serenade.js</h1>

      {{ content }}
    </div>
    <script src="js/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/serenade.js"></script>
    <script src="js/coffee-script.js"></script>
    <script src="js/app.coffee" type="text/coffeescript"></script>
  </body>
</html>
